<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">O nas</h2>
                <hr class="light">
                <p class="text-faded"><p>Acanit jest firmą, której trzon składa się z byłych pracowników firmy Microsoft. Naszym celem jest pomoc Klientom w najbardziej efektywnym wykorzystaniu technik informatycznych.</p>
                <p> Wiedza ekspercka nabyta podczas dużych i międzynarodowych projektów czyni zespół architektów doświadczonym integratorem w technologiach firmy Microsoft.</p><p>
Acanit oferuje instytucjom, koncernom, agencjom rządowym i innym zainteresowanym podmiotom swoje usługi polegające na planowaniu, projektowaniu oraz wdrażaniu rozwiązań informatycznych, pracujących w środowisku rozproszonym.</p><p>
                    Acanit wykorzystuje metodologię pracy zwaną Microsoft Solution Framework. Metoda ta stosowana jest z powodzeniem zarówno przez grupy projektowe wewnątrz Microsoft, jak i przez specjalistów Microsoft Services stosujących ją przy wykonywaniu usług na rzecz Klientów. </p>
                <a href="#competences" class="btn btn-default btn-xl">Nasze kompetencje</a>
            </div>
        </div>
    </div>
</section>
