<section id="competences">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Nasze kompetencje</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x wow bounceIn text-primary"><img src="img/intune.png" height="56"></i>
                    <h3>Nowoczesne środowisko pracy</h3>
                    <p class="text-muted">Bezpieczny i kontrolowany dostęp do danych firmowy z każdego miejsca i każdego urządzenia</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x wow bounceIn text-primary" data-wow-delay=".1s"><img src="img/group.png" height="56"></i>
                    <h3>Praca grupowa i komunikacja</h3>
                    <p class="text-muted">Synergia narzędzi do współdzielenia pracy grupowej, komunikacji i udostępniania danych korporacyjnych</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x wow bounceIn text-primary" data-wow-delay=".2s"><img src="img/cloud2.png" height="56"></i>
                    <h3>Centra Danych i Chmury Prywatne</h3>
                    <p class="text-muted">Budowa, zarządzanie, migracja i optymalizacja rozwiązań w centrach danych</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x wow bounceIn text-primary" data-wow-delay=".2s"><img src="img/cloud1.png" height="56"></i>
                    <h3>Chmura Publiczna</h3>
                    <p class="text-muted">Rozwiązania z obszaru IaaS, PaaS oraz SaaS na platformach wiodących chmur publicznych.</p>
                </div>
            </div>
        </div>
        <div class="row"><p > </p>
        </div>
         <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x wow bounceIn text-primary"><img src="img/security.png" height="56"></i>
                    <h3>Bezpieczeństwo</h3>
                    <p class="text-muted">Projektowanie i wdrażanie rozwiązań bezpieczeństwa dla środowiska firmowego</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x wow bounceIn text-primary" data-wow-delay=".1s"><img src="img/network.png" height="56"></i>
                    <h3>Architektura sieciowa i Zarządzanie</h3>
                    <p class="text-muted">Projektowanie i wdrażanie bezpiecznych architektura sieci LAN, WAN, WLAN, SAN</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x wow bounceIn text-primary" data-wow-delay=".2s"><img src="img/support.png" height="56"></i>
                    <h3>Zarządzane Wsparcie</h3>
                    <p class="text-muted">Kompleksowe zarządzanie wybraną częścią lub całością infrastruktury infomatycznej</p>
                </div>
            </div>
<!--            <div class="col-lg-3 col-md-6 text-center">-->
<!--                <div class="service-box">-->
<!--                    <i class="fa fa-4x fa-ellipsis-h wow bounceIn text-primary" data-wow-delay=".3s"></i>-->
<!--                    <h3>---</h3>-->
<!--                    <p class="text-muted">---</p>-->
<!--                </div>-->
<!--            </div>-->
        </div>
</section>
