<footer class="bg-dark">
     <div class="footer navbar-inverse">
         <div class="row">
            <div class="container modal-footer">
                <div class="col-lg-12 text-muted text-center">
                    <p> © 2020 Copyright: <a href="https://github.com/piotr-jarosz ">Piotr Jarosz</a> under MIT license. Source code is available at: <a href="https://github.com/Icoqu/Colorz">https://github.com/Icoqu/Colorz</a></p>
                </div>
            </div>
         </div>
     </div>
</footer>