<footer class="bg-dark">
     <div class="footer navbar-inverse">
         <div class="row">
            <div class="container modal-footer">
                <div class="col-lg-4"></div>
                <div class="col-lg-4 text-center">
                    <p class="navbar-text"> © 2021 Copyright: Acanit sp. z o.o.
                        <br>Developed by <a href="https://github.com/piotr-jarosz ">Piotr Jarosz</a></p>
                </div>
            </div>
         </div>
     </div>
</footer>